@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-video {
  top: 3.5rem;
  left: 0;
  height: calc(100% - 56px);
  width: 100%;
  z-index: -4;
  opacity: 0.8;
  overflow: hidden;
}

.bg-video__content {
  top: 3.5rem;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.bg-video__button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
